<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
    <title>Add</title>
</head>
<body>
    <h1>Добавить</h1>
    <form method="post">
        <div>
            <p>Имя:</p>
            <input type="text" name="name">
        </div>
        <div>
            <p>Фамилия:</p>
            <input type="text" name="surname">
        </div>
        <div>
            <p>Возраст:</p>
            <input type="number" name="age">
        </div>
        <div>
            <p>Пол:</p>
            <input type="text" name="gender">
        </div>
        <input type="submit">
    </form>
</body>
</html>